.game-card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.actions button{
    height: 25px;
    margin-right: 5px;
    padding-inline: 10px;

    border-style: none;
    border-radius: 8px;
    border-color: lightslategrey;
}

.edit{
    background-color: deepskyblue;
    color: white;
}

.delete{
    background-color: crimson;
    color: white;
}